.main-heading {
    display: inline-block;
    text-align: center;
    color: lightblue;
}

p {
  color:lightgreen;
}
* {
background-color: #223E4A;
}

p {
  color: lightgreen;

}

.submit-button:hover {
    background: #3cb0fd;
}

.submit {
    color: #3cb0fd;
}
h1 {
    font-family: 'Fugaz One', cursive;
}
h2{
    font-family: 'Oleo Script', cursive;
}

*{
    font-family: 'Monda', sans-serif;
}