#bignamtar {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 100px;
    color: red;
    margin: auto
}

#namtar {
    font-family: 'Cinzel Decorative', cursive;
    font-weight: bold;
    color: red;

}

* {
    background-color: #223E4A;
    font-family: 'Monda', sans-serif;
}

.main-heading {
    display: inline-block;
    text-align: center;
    color: lightblue;
    font-size: 25px
}

img {
    /*margin: 10px 50px 10px 50px;*/
    display: block;
    margin: auto;
}

h4 {
<<<<<<< HEAD
    float: right;
    margin-right: 20px;
    display: block;
=======
    padding-left: 25px;
>>>>>>> 3a3be5285a6ce7a804a829beb09011d482662d21
}

p {
    color: lightgreen;
    font-size: 30px
}

#superlightblue {
    color: #2d96ff;
    margin-left: 20px;
}

#para-1 {
    float: left;
    padding-left: 70px;
}

#orangered {
    color: orangered;

    margin: 120px;
}

#para-2 {
    float: left;
    padding-left: 170px;
    position: relative;
    bottom: 20px;
}

#para-3 {
    float: left;
    padding-left: 220px;
    position: relative;
    bottom: 30px;
}

#para-4 {
    float: left;
    padding-left: 270px;
    position: relative;
    bottom: 40px;
}

#para-5 {
    float: left;
    padding-left: 320px;
    position: relative;
    bottom: 50px;
}

#lightgrey {
    color: #aeb8c4;
    float: left;
    padding-left: 370px;
    position: relative;
    bottom: 30px;
}

.submit-button:hover {
    background: #3cb0fd;
}

.submit {
    color: #3cb0fd;
    font-size: 22px
}

#sub {
    float: left;
    padding-left: 420px;
}

#ratman {
    font-family: 'Fugaz One';
    color: lightblue;
}

h2 {
    font-family: 'Oleo Script', cursive;
}

.email {
    background-color: white;
}

a {
    color: yellow;
    font-size: 50px;
    float: left;
    margin: 10px 50px;
    text-decoration: none;
}

a:hover {
    color: darkblue;
    text-decoration: underline;
}

audio {
    float: left;
    padding-left: 420px;
}
