.heading {
    display: inline-block;
    color: lightgrey;
    text-align: center;
}

* {
    background-color: #004169;
}

p {
  color: lightgreen;

}

.submit-button:hover {
    background: #3cb0fd;
}

.submit {
    color: #3cb0fd;
}